

.container{
    max-width:fit-content;
    border: 1px solid black;
    padding: 1rem;
  background-color: rgba(197, 211, 209, 0.21);
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

